* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    position: absolute;
    touch-action: none;
}

#canvas{
    /* border: 1px solid red; */
    display: block;
    position: absolute;
    
}

body {
    overflow: hidden;
}
